h1 {
	text-align: center;
}

body {
	width: 100%;
	text-align: center; 
	margin: auto;
}

canvas {
	border: 5px solid #000000;
	border-style: double;
}

.input {
	width: 25%;

	display: inline-block;

	border: 1px solid #000000;
	margin: 10px;
}

.input input {
	margin: 10px;
}

#buttons {
	border: 1px solid #000000;
	margin: 10px;
	padding: 10px;
}

.wrapper {
	border: 1px solid #000000;
	margin: 10px;
}